@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
}

.navBar{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: teal;
}

.headerPrincipal{
    color: whitesmoke;
    width: 40%;
    background-color: lawngreen;
}

.linksNav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    margin-right: 40px;
}