*{
    padding: 0;
    margin: 0;
}


.ResumeSections{
    position: relative;
    display: flex;
}

.EntradasCs{
    max-width: 1120px;
    margin: 20px;
    width: 98%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 0px;
    transition: padding 0.5s ease ;
}

.EntradasCs:hover{
    padding: 15px 0px;
    box-shadow: 2px 2px 2px 3px rgba(4, 102, 94, 0.514);
}

.EntradasCs span{
    display: flex;
    color:black;
    font-size: 35px;
}

.EntradasCs h2{
    position: absolute;
    margin-left: 5%;
    margin-top: 0.8%;
}

.iconeInputs{
    font-size: 2rem;
    padding: 10px;
    position: relative;
    margin: -2px 40px 0px 75%;
}

.iconeInputs p{
    background-color: red;
    margin-right: 20px;
}

.textIcons{
    text-align: center;
    font-size: 2.0rem;
}
