.containerPrincipal{
    background-color: teal;
    padding: 50px;
    text-align: center;
}

.containerPricText{
    color: white;
}

.managerContainer{
    display: flex;
    justify-content: center;
}

.TableContainer{
    display: inherit;
    flex-direction: column;

    width: 90%;
    padding: 10px;
    margin-top: -20px;
    
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.486);
}